[project]
	description = This is for a workshop
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bkarpati (bkarpati)
[access "refs/for/refs/*"]
	read = group user/bkarpati (bkarpati)
	push = group user/bkarpati (bkarpati)
	label-Code-Review = -2..+2 group user/bkarpati (bkarpati)
	label-Verified = -1..+1 group user/bkarpati (bkarpati)
	rebase = group user/bkarpati (bkarpati)
	removeReviewer = group user/bkarpati (bkarpati)
	submit = group user/bkarpati (bkarpati)
[access "refs/heads/*"]
	read = group user/bkarpati (bkarpati)
	create = group user/bkarpati (bkarpati)
	push = +force group user/bkarpati (bkarpati)
	pushMerge = group user/bkarpati (bkarpati)
[access "refs/tags/*"]
	push = +force group user/bkarpati (bkarpati)
	pushTag = group user/bkarpati (bkarpati)
	pushSignedTag = group user/bkarpati (bkarpati)
