[project]
	description = This is for a workshop
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bkarpati
[access "refs/for/refs/*"]
	read = group user/bkarpati
	push = group user/bkarpati
	label-Code-Review = -2..+2 group user/bkarpati
	label-Verified = -1..+1 group user/bkarpati
	rebase = group user/bkarpati
	removeReviewer = group user/bkarpati
	submit = group user/bkarpati
[access "refs/heads/*"]
	read = group user/bkarpati
	create = group user/bkarpati
	push = +force group user/bkarpati
	pushMerge = group user/bkarpati
[access "refs/tags/*"]
	push = +force group user/bkarpati
	pushTag = group user/bkarpati
	pushSignedTag = group user/bkarpati
